

body{
	color: #535353;
	font-size: 13px;
	line-height: 1.5;
}

h2{
	font-size: 185%;
	border-left: 15px solid #668800;
	padding-left: 10px;
}

address{
	font-size: 85%;
	font-style: normal;
	text-align: right;
	border-top: 1px solid #000000;
	padding-top: 10px;
}
h3{
	padding: 5px;
	border: 1px solid #668800;
	font-size: 154%;
}

h4{
	font-size: 124%;
}

table{
	border: 1px solid #666666;
	border-collapse: collapse;/*or separate*/
	/*border-collapseプロパティは、隣接するセルのボーダーを重ねて表示するか（collapse）、間隔をあけて表示するか（separate）を指定します。
*/
}

th{
	border: 1px solid #999999;
	padding: 10px;
	background: #cccccc;
}

td{
	border: 1px solid #999999;
	padding: 10px;
	background: #eeeeee;
}

#wrap{
	width: 770px;
	margin: 0 auto; /*全体中央揃え*/
	text-align: left; /*文字左寄せ*/
}


/*ここまで*/


.itemphoto{
	float: left;
	margin: 20px 0 50px;
}

h3{
	clear: left;/*回り込み回避*/
}

address{
	clear: left;/*回り込み回避*/
}

/*ul{
	background: #88aa00;
	padding: 10px 20px;
}

li{
	list-style-type: none;
	display: inline;
	padding-right: 20px;
}

li>a:link{
	color: #fff;
}

li>a:visited{
	color: #ee0;
}

li>a:hover{
	color: #000;
	text-decoration: none;
}*/
/*
ul{
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 5px;
	font-size: 12px;
	overflow: hidden;
	background: #88aa00;
}

li{
	float: left;
	margin-right: 15px;
	width: 112px;
	text-align: center;
}


li a{
	font-size: 15px;
	display:  block;
	padding-top: 15px;
	padding-bottom: 20px;
	border: 5px dotted transparent;
	text-decoration: none;
}

li>a:link{
	color: #fff;
}

li>a:visited{
	color: #ee0;
}

li a:hover{
	border-color: green;
}*/

/*ここからやりなおし*/


ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	background-color: pink;
	overflow: hidden;
}

li{
	float: left;
	width: 100px;
	margin-right: 0px;
	text-align: center;
	border-right: 1px solid #fff;
}

li:first-child{
	border-left: 1px solid #fff;
}

li a{
	display: block;
	padding: 15px 0 10px;
	text-decoration: none;
	border-bottom: 3px solid transparent;
}

ul li a:link{
	font: white;
}

ul li a:visited{
	font: red;
}

ul li a:hover{
	font: orange;
	border-bottom-color: red;
}